.singleMovieContainer {
  position: relative;
  /* background-color: black; */
}
.movieDetail {
  /* border: 2px solid green; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.movieDetail h1,
.movieDetail h2,
.movieDetail h3,
.movieDetail h4 {
  margin-bottom: 0.5em;
}
.moviePoster {
  width: 300px;
  height: 400px;
  object-fit: fill;
  /* border: 2px solid green; */
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.infoPara {
  /* border: 2px solid red; */
  display: flex;
  margin: 1rem 0;
}
.key {
  width: 200px;
  /* border: 2px solid green; */
}
.bigInfo {
  margin: 1rem auto;
}
.showing {
  opacity: 1;
  transition: opacity 0.3s;
}
.notShowing {
  opacity: 0;
  transition: opacity 0.3s;
}
.actorsContainer {
  margin: 1rem 0;
  width: 90%;
  max-width: 900px;
}
.trailerContainer {
  position: absolute;
  top: -35%;
  /* width: 100%;  */
  /* height: 80vh ; */
  z-index: -1;
}

@media screen and (max-width: 700px) {
  .movieDetail {
    grid-template-columns: 1fr;
  }
  /* .actorsContainer {
    margin: 1rem 0;
    width: 50%;
    max-width: 900px;
  } */
}
