.singleMovieContainer {
  position: relative;
  color: var(--white-text-color);
}
.movieDetail {
  display: grid;
  grid-template-columns: 2fr;
  gap: 1rem;
}
.movieDetail h1,
.movieDetail h2,
.movieDetail h3,
.movieDetail h4 {
  margin-bottom: 0.5em;
}
.moviePoster {
  width: 300px;
  height: 400px;
  object-fit: fill;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.infoPara {
  display: flex;
  margin: 1rem 0;
}
.key {
  width: 200px;
}
.bigInfo {
  margin: 1rem auto;
}
.showing {
  opacity: 1;
  transition: opacity 0.3s;
}
.notShowing {
  opacity: 0;
  transition: opacity 0.3s;
}
.actorsContainer {
  margin: 1rem 0;
  width: 90%;
  max-width: 900px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(
    0,
    0,
    0,
    0.9
  ); /* Adjust the alpha channel for transparency */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}
.trailerContainer {
  position: absolute;
  opacity: 0.5;
  top: 0%;
  left: 20%;
  width: 700px;
  height: 800px;
  z-index: -1;
}

@media screen and (max-width: 700px) {
  .movieDetail {
    grid-template-columns: 1fr;
  }
  /* .actorsContainer {
    margin: 1rem 0;
    width: 50%;
    max-width: 900px;
  } */
}
