.form {
  margin: auto;
  display: flex;
  /* justify-content: space-between; */
  background-color: var(--grey-text-color);
  font-family: inherit;
  border-radius: 0.5rem;
  width: 85%;
  padding: 0.7rem;
  border: none;
  font-family: inherit;
  font-size: 1.1rem;
  outline: none;
  color: var(--white-text-color);
}
