.form {
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--pure-white-color);
  padding: 0.5rem;
  font-family: inherit;
  border-radius: 0.5rem;
  width: 85%;
  padding: 0.5rem;
  border: none;
  font-family: inherit;
  font-size: 1.1rem;
  outline: none;
}
